html {
    font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Modern browsers only need this one */
@media screen and (min-width: 25em){
  html { font-size: calc( 16px + (19 - 16) * (100vw - 400px) / (800 - 400) ); }
}

@media screen and (min-width: 42.1em) {
    html {
      font-size: 19px;
    }
  }


body {
  overflow-x: hidden;
  line-height: 1.5;
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}



/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
  font-weight: 300;
}

h1 {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h2 {
  font-size: 2rem;
  line-height: 1.2;
  letter-spacing: -0.1rem;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.3;
  letter-spacing: -0.1rem;
}
h4 {
  font-size: 1.4rem;
  line-height: 1.3;
  letter-spacing: -0.08rem;
}
h5 {
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: -0.05rem;
}
h6 {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 0;
}

p {
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
